fly.toml
Dockerfile
.dockerignore
node_modules
.git
.DS_Store
build
data
/.svelte-kit
/package
.env
.env.*
!.env.production
.envrc
.tool-versions
.tool-versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
