# Directories
/build
/node_modules
/package
/.svelte-kit

# Files
*.sqlite3*
!.env.example
!.env.production.example
.env*
.DS_Store
.mise.toml
.tool-versions
bun.lockb
pnpm-lock.yaml
vite.config.js.timestamp-*
